<div class="app-shell">
  <aside class="sidebar">
    <div class="logo">
      <div class="logo-mark">D</div>

      <div class="logo-text">
        <strong>Docflow</strong>
        <span>Document Intake</span>
      </div>
    </div>

    <div class="nav-label">Sprint 5</div>

    <nav class="nav">
      <a
        routerLink="/documents/upload"
        routerLinkActive="active"
        class="nav-item"
      >
        <span class="nav-icon">↑</span>
        <span>Upload</span>
      </a>

      <a
        routerLink="/documents"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-item"
      >
        <span class="nav-icon">◰</span>
        <span>Documents</span>
      </a>
    </nav>

    <div class="sidebar-footer">
      <p>
        Company and user metadata are assigned automatically by the system.
      </p>
    </div>
  </aside>

  <main class="main">
    <header class="topbar">
      <div class="topbar-title">
        <strong>Docflow Workspace</strong>
        <span>Document upload and archive management</span>
      </div>

      <div class="top-actions">
        <div class="round-icon">?</div>
        <div class="avatar">EZ</div>
      </div>
    </header>

    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>